

th:hover {
    cursor: pointer;
  }

  .trhover:hover {
    background-color: #cfcfcf;
  }

  .mat-sort-header-container {
    align-items: center;
  }

  .vertical-alignemnt td,
  .vertical-alignemnt th {
    vertical-align: middle;;
  }